#section1, #section2, #section3
{
    margin-top:50px;
    margin-bottom: 110px;
    padding-top:45px;
    text-align: center;
}

#appear {
    top: 150px;
    left: 37%;
	position:fixed;
    font-size: 250%;
    font-weight: 900;
    color:white;
    font-family: "Times New Roman", Times, serif;
}
p{
    padding-left: 10px;
}